<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="LicenseServer" value="10.24.100.6:40000"/>
    <add key="Server"  value="10.24.100.6"  />
    <add key="UserName"  value="manager"  />
    <add key="Password"  value="1234"  />
    <add key="CompanyDB"  value="DB_ZWILLING_AJ"  />
    <add key="DbServerType"  value="8"  />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AIFCargoWebServicesSoap">
          <security mode="Transport" />
        </binding>
        <binding name="AIFCargoWebServicesSoap1" />
        <binding name="AIFCargoWebServicesSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="AIFCargoWebServicesSoap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44316/AIFCargoWebServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="AIFCargoWebServicesSoap"
        contract="AIFCargoWebServices.AIFCargoWebServicesSoap" name="AIFCargoWebServicesSoap" />
      <endpoint address="https://localhost:44316/AIFCargoWebServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="AIFCargoWebServicesSoap2"
        contract="AIFCargoWebServices.AIFCargoWebServicesSoap" name="AIFCargoWebServicesSoap1" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <ServiceTest.Properties.Settings>
      <setting name="ServiceTest_AIFCargoWebServices_AIFCargoWebServices"
        serializeAs="String">
        <value>https://localhost:44316/AIFCargoWebServices.asmx</value>
      </setting>
    </ServiceTest.Properties.Settings>
  </applicationSettings>
</configuration>
